### Cypress Custom .gitignore ###
*.log.*
dist-*
build
.history
.publish
_test-output
cypress.zip
.babel-cache

# from runner
packages/runner/cypress/videos
packages/runner/cypress/screenshots

### Node ###
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependency directories
node_modules/
jspm_packages/